{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<div class="min-h-screen">
    <div class="text-center">
        <div class="my-8">
            <h1 class="text-4xl font-bold">Recherche</h1>
            <twig:Search />
        </div>
    </div>
</div>


{% endblock %}